[user]
	email = topi.tuulensuu@gmail.com
	name = totu
[push]
	default = tracking
[alias]
	ds = diff --staged      # git ds - diff your staged changes == review before committing.
	st = status -sb         # smarter status - include tag and branch info
	co = checkout
[core]
	editor = vim
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
