#!/usr/bin/env bash
# (In)sane history and caseless tab complete
ulimit -S -c unlimited
shopt -s histappend
shopt -s cmdhist
HISTSIZE=500000
HISTFILESIZE=100000
HISTCONTROL="erasedups:ignoreboth"
HISTTIMEFORMAT='%F %T '
export HISTIGNORE="&:[ ]*:exit:ls:bg:fg:history:log:tig:gjm:r:share-tmux"
