#!/usr/bin/env bash
# Git stuff
export GIT_PS1_SHOWDIRTYSTATE="1"
export GIT_PS1_SHOWCOLORHINTS=true
export GIT_PS1_SHOWUPSTREAM=verbose
source ~/.bin/git-prompt.sh

#git
if [ -f ~/.bin/git-completion.bash ]; then
    . ~/.bin/git-completion.bash
    __git_complete g __git_main
fi

